body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  text-align: center;
}

.parallax-section {
  height: 400px;
  background-image: url("gebruik\ deze.jpeg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-section {
  padding: 50px;
  background-color: #f4f4f4;
  text-align: center;
}

@media (max-width: 768px) {
  .parallax-section {
    background-attachment: scroll;
  }
}
